<h2>Por Capital</h2>
<hr>

<div class="row">
  <div class="col">
    <!-- (onValue)="searchByCapital($event)" Sirve para cuando se presiona enter y queremos que busque -->
  <shared-search-box
    placeholder="Buscar por capital"
    (onDebounce)="searchByCapital($event)"
    [initialValue]="initialValue"
  ></shared-search-box>
  </div>
</div>

<div class="row">
  <div class="col">
    <hr>
    <shared-loading-spinner *ngIf="isLoading"></shared-loading-spinner>
    <countries-table [countries]="capitals" [name]="nameCapital"></countries-table>
  </div>
</div>
